<div class="content">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title text-center mb-3">Jelszó megváltoztatása</h5>
                    <div class="form-floating mb-3">
                        <p class="mb-0">Jelszó</p>
                        <input [(ngModel)]="Newpassword" type="password" class="form-control darkinput" id="floatingPassword" placeholder="Password">
                    </div>
                    <div class="form-floating mb-3">
                        <p class="mb-0">Jelszó megerősítése</p>
                        <input [(ngModel)]="ConfirmPassword" type="password" class="form-control darkinput" id="floatingPassword" placeholder="Password">
                    </div>
                    <button (click)="ResetPassword()" type="button" class=" my-3 btn btn-outline dark w-100">Jelszó megváltoztatása</button>
                </div>
            </div>
        </div>
    </div>
</div>
