<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">Jelszó visszaigazítás</h5>
                    <div class="form-floating mb-3">
                        <input [(ngModel)]="Newpassword" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Jelszó...</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input [(ngModel)]="ConfirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Jelszó megerosités...</label>
                    </div>
                    <button (click)="ResetPassword()" type="button" class=" my-3 btn btn-outline-primary w-100">Jelszó visszaigazítás</button>
                </div>
            </div>
        </div>
    </div>
</div>
