<div class="container py-4">
  <div class="row g-4">
    <!-- Profil szekció -->
    <div class="col-lg-4 col-md-6">
      <h3 class="text-center">Profil</h3>
      <div class="card border-info shadow-sm">
        <div class="card-body">
          <div class="form-floating mb-3">
            <input [(ngModel)]="user.first_name" type="text" class="form-control" id="firstName">
            <label for="firstName">Keresztnév</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="user.last_name" type="text" class="form-control" id="lastName">
            <label for="lastName">Vezetéknév</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="user.email" type="email" class="form-control" id="email">
            <label for="email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="user.address" type="text" class="form-control" id="address">
            <label for="address">Lakcím</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="user.phone_number" type="text" class="form-control" id="phone">
            <label for="phone">Telefonszám</label>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-info w-100" (click)="updateProfile()">Adatok frissítése</button>
        </div>
      </div>
    </div>

    <!-- Termek szekció -->
    <div class="col-lg-8 col-md-6">
      <h3 class="text-center">Termek</h3>
      <div class="d-flex flex-wrap gap-3 justify-content-center">
        <ng-container *ngFor="let place of places">
          <div class="card border-info shadow-sm" style="max-width: 18rem;">
            <img *ngIf="place.image_path" [src]="'http://127.0.0.1:3000' + place.image_path" class="card-img-top" alt="{{place.place_name}}">
            <div class="card-body">
              <div class="form-floating mb-2">
                <input type="text" class="form-control" [(ngModel)]="place.place_name">
                <label>Hely neve</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" [(ngModel)]="place.address">
                <label>Cím</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" [(ngModel)]="place.price">
                <label>Ár (Ft/óra)</label>
              </div>
              <div class="mb-2">
                <label for="imageUpload" class="form-label">Kép feltöltése</label>
                <input type="file" class="form-control" id="imageUpload" (change)="onFileSelectedUpdate($event, place)">
              </div>
              <h5>Foglalások a teremhez:</h5>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rentsModal" (click)="getRentsbyPlaceID(place.PlaceID)" >Foglalások mutatása</button>
              
              <button class="btn btn-success w-100 mb-1" (click)="updatePlace(place)">Mentés</button>
              <button class="btn btn-danger w-100 mb-1" (click)="deletePlace(place)">Törlés</button>
              <button class="btn btn-warning w-100" (click)="deletePlaceImage(place)">Kép törlése</button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createPlaceModal">Új terem létrehozása</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal az új terem létrehozásához -->
<div class="modal fade" id="createPlaceModal" tabindex="-1" aria-labelledby="createPlaceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPlaceModalLabel">Új terem létrehozása</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input [(ngModel)]="NewplaceName" type="text" class="form-control" id="placeNameInput">
          <label for="placeNameInput">Hely neve</label>
        </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="NewplaceAddress" type="text" class="form-control" id="addressInput">
          <label for="addressInput">Cím</label>
        </div>
        <div class="form-floating mb-3">
          <input [(ngModel)]="NewplacePrice" type="number" class="form-control" id="priceInput">
          <label for="priceInput">Ft / óra</label>
        </div>
        <div class="mb-3">
          <label for="imageInput" class="form-label">Kép feltöltése</label>
          <input type="file" class="form-control" id="imageInput" (change)="onFileSelected($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-primary" (click)="createPlace()">Létrehozás</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rentsModal" tabindex="-1" aria-labelledby="rentsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rentsModalLabel">Teremhez tartozó foglalások</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h4>Jelenlegi foglalás</h4>
        <table class="table table-stripped">
          <thead>
            <tr>
              <td>Ügyfél</td>
              <th>Ügyfél telefonszám</th>
              <th>Dátum</th>
              <th>Mettől?</th>
              <th>Meddig?</th>
              <th>Fizetendő összeg</th>
              <th>Státusz</th>
              <th>Lemondás</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rent of rents">
              <ng-container *ngIf="rent.status=='ongoing'">
                <td data-label="Név">{{rent.UserName}}</td>
                <td data-label="Telefonszám">{{rent.UserPhoneNumber}}</td>
                <td data-label="Dátum">{{ rent.StartDate | date: 'yyyy-MM-dd' }}</td>
                <td data-label="Mettől?">{{ rent.StartDate | date: 'HH:mm' }}</td>
                <td data-label="Meddig?">{{ rent.EndDate | date: 'HH:mm' }}</td>
                <td class="fw-bold" data-label="Fizetendő összeg">{{ rent.TotalAmount + " Ft" }}</td>
                <td data-label="Státusz" [class.done]="rent.status == 'done'" [class.pending]="rent.status == 'pending'">
                  {{ rent.status }}
                </td>
                <td data-label="Lemondás" >
                  <button class="btn btn-outline-danger" *ngIf="rent.status !== 'canceled'" (click)="cancelRent(rent)">Lemondás</button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>


        <h4 class="mt-5">Jövőbeli foglalások</h4>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Bérlő</th>
              <th>Bérlő telefonszáma</th>
              <th>Dátum</th>
              <th>Mettől?</th>
              <th>Meddig?</th>
              <th>Fizetendő összeg</th>
              <th>Státusz</th>
              <th>Lemondás</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rent of rents">
              <ng-container *ngIf="rent.status=='not started'">
                <td data-label="Név">{{rent.UserName}}</td>
                <td data-label="Telefonszám">{{rent.UserPhoneNumber}}</td>
                <td data-label="Dátum">{{ rent.StartDate | date: 'yyyy-MM-dd' }}</td>
                <td data-label="Mettől?">{{ rent.StartDate | date: 'HH:mm' }}</td>
                <td data-label="Meddig?">{{ rent.EndDate | date: 'HH:mm' }}</td>
                <td class="fw-bold" data-label="Fizetendő összeg">{{ rent.TotalAmount + " Ft" }}</td>
                <td data-label="Státusz" [class.done]="rent.status == 'done'" [class.pending]="rent.status == 'pending'">
                  {{ rent.status }}
                </td>
                <td data-label="Lemondás" >
                  <button class="btn btn-outline-danger" *ngIf="rent.status !== 'canceled'" (click)="cancelRent(rent)">Lemondás</button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>

        <h4 class="mt-5">Egyéb foglalások</h4>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Bérlő</th>
              <th>Bérlő telefonszáma</th>
              <th>Dátum</th>
              <th>Mettől?</th>
              <th>Meddig?</th>
              <th>Fizetendő összeg</th>
              <th>Státusz</th>
              <th>Lemondás</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rent of rents">
              <ng-container *ngIf="rent.status !== 'ongoing' && rent.status!=='not started'">
                <td data-label="Név">{{rent.UserName}}</td>
                <td data-label="Telefonszám">{{rent.UserPhoneNumber}}</td>
                <td data-label="Dátum">{{ rent.StartDate | date: 'yyyy-MM-dd' }}</td>
                <td data-label="Mettől?">{{ rent.StartDate | date: 'HH:mm' }}</td>
                <td data-label="Meddig?">{{ rent.EndDate | date: 'HH:mm' }}</td>
                <td class="fw-bold" data-label="Fizetendő összeg">{{ rent.TotalAmount + " Ft" }}</td>
                <td data-label="Státusz" [class.done]="rent.status == 'done'" [class.pending]="rent.status == 'pending'">
                  {{ rent.status }}
                </td>
                <td data-label="Lemondás" >
                  <button class="btn btn-outline-danger"  (click)="cancelRent(rent)">Lemondás</button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
      </div>
    </div>
  </div>
</div>
