

<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Profil</div>
    <div class="card-body">
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.first_name" type="text" class="form-control" id="floatingInput" >
            <label for="floatingInput">Keresztnév</label>
          </div>
        
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.last_name" type="text" class="form-control" id="floatingInput" >
            <label for="floatingInput">Vezetéknév</label>
          </div>
        
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.email" type="email" class="form-control" id="floatingInput">
            <label for="floatingInput">Email</label>
        </div>
        
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.address" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Lakcím</label>
        </div>
        
        <div class="form-floating mb-3">
            <input [(ngModel)]="user.phone_number" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Telefonszám</label>
        </div>


    </div>
    <div class="card-footer">
        <button class="btn btn-secondary" (click)="updateProfile()">Adatok frissítése</button>
    </div>
  </div>