<div class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Cégnév</h3>
            <p>© 2025 Minden jog fenntartva.</p>
        </div>
        <div class="footer-section">
            <h3>Kapcsolat</h3>
            <p>Email: 4Nw0&#64;example.com</p>
            <p>Telefon: +36 1 234 5678</p>
        </div>
        <div class="footer-section">
            <h3>Hasznos linkek</h3>
            <ul>
                <li class="footer-link"><a href="#">Adatvédelmi irányelvek</a></li>
                <li class="footer-link"><a href="#">Felhasználási feltételek</a></li>
                <li class="footer-link"><a href="#">Kapcsolat</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Kövess minket</h3>
            <!-- <div class="social-icons">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
                <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
            </div> -->
        </div>

    </div>
    <div class="back-to-top">
        <button class="back-to-top btn btn-outline" (click)="scrollToTop()">↑ Vissza a tetejére</button>
    </div>

    lorem
</div>
