<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <!-- Bal oldal (információs szekció) -->
        <div class="col-md-9 content-section">
          <div class="row">
            <div class="col-md-4">
              <h5>Rólunk</h5>
              <p>Célunk, hogy kényelmes és egyszerű megoldásokat kínáljon sportolási lehetőségekhez.
                Legyen szó baráti mérkőzésről, edzésről vagy egyéb sporteseményekről, nálunk könnyedén lefoglalhatja a megfelelő helyszínt.</p>
            </div>
            <div class="col-md-4">
              <h5>Felfedezés</h5>
              <ul class="list-unstyled">
                <li>Főoldal</li>
                <li>Rólunk</li>
                <li>Blog</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Jogi dokumentumok</h5>
              <ul class="list-unstyled">
                <li>ÁSZF</li>
                <li>Sütik kezelése</li>
                <li>Használati feltételek</li>
                <li>Kötbérlista</li>
              </ul>
            </div>
          </div>
  
          <!-- Social Media Ikonok -->
          <div class="social-icons mt-3">
            <a href="#" class="me-3"><i class="bi bi-facebook"></i></a>
            <a href="#" class="me-3"><i class="bi bi-instagram"></i></a>
            <a href="#" class="me-3"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
          </div>

          
  
          <hr class="hr" />
          <p class="copyright">© Copyright 2025 Kezdőrugás Kft. Minden jog fenntartva.</p>
        </div>
  
        <!-- Jobb oldal (szürke sáv, kapcsolatfelvételi űrlap) -->
        <div class="col-md-3 contact-section">
          <h5>Kapcsolat</h5>
          <input type="text" class="form-control mb-2" placeholder="Név" />
          <input type="email" class="form-control mb-2" placeholder="Email" />
          <textarea class="form-control mb-2" placeholder="Üzenet"></textarea>
          <button class="btn btn-primary w-100">Küldés</button>
        </div>
      </div>
    </div>
  </footer>
  