.navbar {
    padding: 5px 50px;
    background-color: rgba(31, 31, 31, 0.9) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #FFD36D !important; /* Világosabb barna */
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    color: #FFD36D ;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.dropdown-menu {
    background-color: #1F1F1F;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .dropdown-item {
    color: #fff;
    transition: background-color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover, 
.dropdown-menu .dropdown-item.active {
    background-color: #282828; /* Világosabb barna */
    color: #FFD36D;
}

.logout {
    color: #fff; /* Pirosabb kiemelés */
    font-weight: bold;
}

.logout:hover {
    color: #ff6d6d !important;
}

