body {
    background-image: url(../resources/background.jpg);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.link {
    text-decoration: none;
    color:darkgoldenrod;
}

.link:hover {
    text-decoration: underline;
    color: goldenrod;
    
}