header {
    height: 100vh;
    background-image: url(../../assets/borito.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    
  }

