header {
    height: 100vh;
    background-image: url(../../assets/borito.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

h4 {
    margin-bottom: 20px;
}

.left {
    margin-left: 40px;
    margin-right: 10px;
}

.paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginLeft{
    margin-left: 20px;
}

.marginBottom {
    margin-bottom: 100px;
}

body{
    margin: 5px;
}

.end {
    text-align: center;
}