.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0,3;
    
    
    
  }


  .btn{
    background-color: #0000006e;
    color: white;
  }

  .btn:hover{
    background-color: black;
  }
  
  

 