<div class="container mt-5">
  <div class="table-container">

    <div class="search">
      <div class="row">
        <div class="input-group input-group">
          <input type="text" [(ngModel)]="searchText" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-default">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Bal oldali tábla -->
    <table class="table table-bordered table-hover shadow-sm" style="table-layout: auto; width: 100%;">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | paginate: { itemsPerPage: PageSize, currentPage: CurrentPage } | search: searchText">
          <td>{{user.ID}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>
            <button class="btn btn-outline-dark btn-sm" (click)="viewDetails(user.ID)">
              <i class="bi bi-person-fill"></i> View Details
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <pagination-controls (pageChange)="CurrentPage = $event"></pagination-controls>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="content">
    <!-- Jobb oldali cuccok -->
    <h3 class="section-title">Details</h3>
    <div class="row user-details">
      <div class="col">
        <span class="label">ID:</span> <span class="value">{{selectedUser.ID}}</span>
      </div>
      <div class="col">
        <span class="label">Name:</span> <span class="value">{{selectedUser.last_name}} {{selectedUser.first_name}}</span>
      </div>
      <div class="col">
        <span class="label">Gender:</span> <span class="value">{{selectedUser.gender}}</span>
      </div>
    </div>
    <div class="row user-details">
      <div class="col">
        <span class="label">Email:</span> <span class="value">{{selectedUser.email}}</span>
      </div>
      <div class="col">
        <span class="label">Address:</span> <span class="value">{{selectedUser.address}}</span>
      </div>
      <div class="col">
        <span class="label">Phone:</span> <span class="value">{{selectedUser.phone_number}}</span>
      </div>
    </div>
    <div class="row user-details">
      <div class="col">
        <span class="label">Status:</span> <span class="value">{{selectedUser.active}}</span>
      </div>
      <div class="col">
        <span class="label">Admin?</span> <span class="value">{{selectedUser.isadmin}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editUserModal">Szerkesztés</button>
      </div>
    </div>

    <h3 class="section-title">User Rents</h3>
    <div class="row user-details" *ngFor="let rent of rentsByUser | slice:-3">
      <div class="col">
        <span class="label">ID:</span> <span class="value">{{rent.RentID}}</span>
      </div>
      <div class="col">
        <span class="label">PlaceID:</span> <span class="value">{{rent.PlaceID}}</span>
      </div>
      <div class="col">
        <span class="label">Mikortól:</span> <span class="value">{{rent.StartDate| date: 'yyyy-MM-dd HH:mm'}}</span>
      </div>
      <div class="col">
        <span class="label">Meddig:</span> <span class="value">{{rent.EndDate | date: 'yyyy-MM-dd HH:mm'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editRentModal">Továbbiak mutatása</button>
      </div>
    </div>


  <h3 class="section-title">User Places</h3>
  <div class="row user-details" *ngFor="let place of placesByUser | slice:-3">
    <div class="col">
      <span class="label">ID:</span> <span class="value">{{place.PlaceID}}</span>
    </div>
    <div class="col">
      <span class="label">Place Name:</span> <span class="value">{{place.place_name}}</span>
    </div>
    <div class="col">
      <span class="label">Place Address:</span> <span class="value">{{place.address}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editPlaceModal">Továbbiak mutatása</button>
    </div>
  </div>
</div>


<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Gender</th>
              <th>Phone</th>
              <th>Status</th>
              <th>Admin?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input [(ngModel)]="selectedUser.ID" type="number" disabled class="form-control"></td>
          <td><input [(ngModel)]="selectedUser.first_name" type="text" class="form-control"></td>
          <td><input [(ngModel)]="selectedUser.last_name" type="text" class="form-control"></td>
          <td>
            <select [(ngModel)]="selectedUser.gender" class="form-control">
              <option value="férfi">férfi</option>
              <option value="nő">nő</option>
              <option value="nem nyilatkozom">nem nyilatkozom</option>
            </select>
          </td>
          <td><input [(ngModel)]="selectedUser.email" type="email" class="form-control"></td>
          <td><input [(ngModel)]="selectedUser.address" type="text" class="form-control"></td>
          <td><input [(ngModel)]="selectedUser.phone_number" type="text" class="form-control"></td>
          <td>
            <select [(ngModel)]="selectedUser.active" class="form-control">
              <option value="active">active</option>
              <option value="disabled">disabled</option>
              <option value="deleted">deleted</option>
            </select>
          </td>
          <td><input [(ngModel)]="selectedUser.isadmin" type="checkbox" class="form-check-input"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Bezárás</button>
        <button (click)="UpdateUserAsAdmin(selectedUser)" type="button" class="btn btn-outline-primary me-2"><i class="bi bi-pencil-square"></i></button>
        <button (click)="DeleteUser(selectedUser.ID)" type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editRentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>UserID</th>
              <th>PlaceID</th>
              <th>Tulaj telefonszáma</th>
              <th>Mikortól</th>
              <th>Meddig</th>
              <th>Teljes összeg</th>
              <th>Státusz</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rent of rentsByUser">
              <td><input [(ngModel)]="rent.RentID" disabled type="number" class="form-control"></td>
              <td><input [(ngModel)]="rent.UserID" disabled type="number" class="form-control"></td>
              <td><input [(ngModel)]="rent.PlaceID" disabled type="number" class="form-control"></td>
              <td><input [(ngModel)]="rent.OwnerPhoneNumber" readonly type="text" class="form-control"></td>
              <td><input [(ngModel)]="rent.UserName" readonly type="text" class="form-control"></td>
              <td><input [(ngModel)]="rent.UserPhoneNumber" readonly type="text" class="form-control"></td>
              <td>
                <input [ngModel]="rent.StartDate | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="rent.StartDate = $event" type="datetime-local" class="form-control">
              </td>
              <td>
                <input [ngModel]="rent.EndDate | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="rent.EndDate = $event" type="datetime-local" class="form-control">
              </td>
              <td><input [(ngModel)]="rent.TotalAmount" readonly type="number" class="form-control"></td>
              <td>
                <select [(ngModel)]="rent.status" class="form-control">
                  <option value="not started">not started</option>
                  <option value="ongoing">ongoing</option>
                  <option value="canceled">canceled</option>
                  <option value="done">done</option>
                </select>
              </td>
              <td>
                <button (click)="UpdateRent(rent)" type="button" class="btn btn-outline-primary me-2 mb-2"><i class="bi bi-pencil-square"></i></button>
                <button (click)="cancelRent(rent.UserID, rent.RentID)" type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Bezárás</button>
      </div>
    </div>
  </div>
</div>
      
<div class="modal fade" id="editPlaceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>UserID</th>
              <th>Tulajdonos</th>
              <th>Tulaj telefonszáma</th>
              <th>Terem neve</th>
              <th>Terem helye</th>
              <th>Ár</th>
              <th>Státusz</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let place of placesByUser">
              <td><input [(ngModel)]="place.PlaceID" disabled type="number" class="form-control"></td>
              <td><input [(ngModel)]="place.UserID" disabled type="number" class="form-control"></td>
              <td><input [(ngModel)]="place.owner_name" readonly type="text" class="form-control"></td>
              <td><input [(ngModel)]="place.phone_number" readonly type="text" class="form-control"></td>
              <td><input [(ngModel)]="place.place_name" type="text" class="form-control"></td>
              <td><input [(ngModel)]="place.address" type="text" class="form-control"></td>
              <td><input [(ngModel)]="place.price" type="number" class="form-control"></td>
              <td><input [(ngModel)]="place.status" class="form-check-input" type="checkbox"></td>
              <td>
                <button (click)="UpdatePlace(place)" type="button" class="btn btn-outline-primary me-2"><i class="bi bi-pencil-square"></i></button>
                <button (click)="DeletePlace(place)" type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Bezárás</button>
      </div>
    </div>
  </div>
</div>