<div class="users">
  <h1 class="text-center mt-5">Felhasználók</h1>
  
  <div class="card-container">
    <div  *ngFor="let user of users" class="card mb-3" style="width: 18rem;">
  
        <div class="card-body">
            <h5 class="card-title">Felhasználó</h5>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.ID" type="number" disabled class="form-control" id="floatingInput">
                <label  for="floatingInput">id</label>
            </div>
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.first_name" type="text" class="form-control" id="floatingInput">
                <label  for="floatingInput">First name</label>
            </div>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.last_name" type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">Last name</label>
            </div>
  
            <div class="form-floating mb-3">
                <select [(ngModel)]="user.gender" class="form-control">
                    <option>férfi</option>
                    <option>nő</option>
                    <option>nem nyilatkozom</option>
                </select>
                <label for="floatingInput">Gender</label>
            </div>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.email" type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Email address</label>
            </div>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.address" type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">address</label>
            </div>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="user.phone_number" type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">phone number</label>
            </div>

            <div class="form-floating mb-3">
                <input [(ngModel)]="user.isAdmin" *ngIf="!user.isAdmin" type="boolean" class="form-control" id="floatingInput">
                <label  *ngIf="!user.isAdmin"  for="floatingInput">Admin?</label>
            </div>
        </div>
  
        <div class="card-footer">
            <button (click)="UpdateUserAsAdmin(user)" type="button" class="btn btn-outline-primary me-2">Módosítás</button>
            <button  *ngIf="!user.isAdmin" type="button" class="btn btn-danger">Törlés</button>
        </div>
      </div>
  </div>
</div>

<div class="places">
  <h1 class="text-center mt-5">Termek</h1>
  
  <div class="card-container">
    <div  *ngFor="let place of places" class="card mb-3" style="width: 18rem;">
  
        <div class="card-body">
            <h5 class="card-title">Terem</h5>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="place.PlaceID" disabled type="number" class="form-control" id="floatingInput">
                <label  for="floatingInput">id</label>
            </div>
  
            <div class="form-floating mb-3">
                <input [(ngModel)]="place.UserID" disabled type="number" class="form-control" id="floatingInput">
                <label for="floatingInput">UserID</label>
            </div>

            <div class="form-floating mb-3">
              <input [(ngModel)]="place.owner_name" readonly type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">Tulajdonos</label>
          </div>

          <div class="form-floating mb-3">
              <input [(ngModel)]="place.phone_number" readonly type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">Tulaj telefonszám</label>
          </div>

          <div class="form-floating mb-3">
              <input [(ngModel)]="place.place_name" type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">Terem név</label>
          </div>

          <div class="form-floating mb-3">
            <input [(ngModel)]="place.address" type="text" class="form-control" id="floatingInput">
            <label for="floatingInput">Cím</label>
          </div>

          <div class="form-floating mb-3">
              <input [(ngModel)]="place.price" type="number" class="form-control" id="floatingInput">
              <label for="floatingInput">Ár</label>
          </div> 
        </div>
      </div>
  </div>
</div>