.content {
  padding-left: 50px;
  padding-right: 50px;
}

.responsive-table {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2{
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #353A47;
  color: white;
  text-transform: uppercase;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.mt {
  margin-top: 100px;
}

::ng-deep .ngx-pagination li a {
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: #888888 !important; 
  transition: all 0.3s ease;
}

/* Ha hover-elsz egy oldalszámra vagy a Previous/Next gombra */
::ng-deep .ngx-pagination li a:hover {
  background-color: #FFD36D;
  color: black !important;
  border-radius: 25px;

}

/* Az aktuális oldal kiemelése */
::ng-deep .ngx-pagination .current {
  background-color: #FFD36D !important;
  color: black !important;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}

/* Previous és Next gomb hover */
::ng-deep .ngx-pagination .pagination-previous:hover,
::ng-deep .ngx-pagination .pagination-next:hover {
  color: white !important;
  background-color: none !important;
  
}

.cancel-button {
  background-color: #282828;
  border: 1px solid #282828;
  border-radius: 10px;
  color: rgb(165, 165, 165);
}

.cancel-button:hover, .cancel-button:active {
  background-color: #FFD36D ;
  border: 1px solid #FFD36D ;
  color: black ;
}

.delete:hover, .delete:active {
  background-color: #e38a8a ;
  color: white;
  border: 1px solid #e38a8a;
}


@media screen and (max-width: 768px) {

  tbody {
    border-radius: 25px;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }

  h2 {
    font-weight: bold;
  }

  thead {
    display: none;
  }

  tbody tr {
    background: white;;
    margin-bottom: 15px;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  td {
    display: flex;
    justify-content:space-between;

    align-items: center;
    padding: 10px;
    border: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    color: #919191;
  }

  /* Státuszok színei */
  .done {
    color: green;
    font-weight: bold;
  }

  .pending {
    color: orange;
    font-weight: bold;
  }

  
  .cancel-btn {
    background: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    border: 1px red solid;
  }
}