<!-- <div class="container">

    <h1>Foglalásaim</h1>
    <table>
      <tr>
        <th>Terem</th>
        <th>Dátum</th>
        <th>Mettől?</th>
        <th>Meddig?</th>
        <th>Fizetendő összeg</th>
        <th>státusz</th>
        <th>Lemondás*</th>
      </tr>
      <tr *ngFor="let rent of rents">
        <ng-container *ngIf="rent.status != 'canceled'">
          <td>{{ rent.place_name }}</td>
          <td>{{ rent.StartDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ rent.StartDate | date: 'HH:mm' }}</td>
          <td>{{ rent.EndDate | date: 'HH:mm' }}</td>
          <td>{{ rent.TotalAmount }}</td>
          <td>{{rent.status}}</td>
          <td>
              <button class="btn btn-outline-danger" (click)="cancelRent(rent)" *ngIf="isCancelable(rent)">Lemondás</button>
          </td>
        </ng-container>
      </tr>
    </table>




    <h1>History</h1>
    <table>
      <tr>
        <th>Terem</th>
        <th>Dátum</th>
        <th>Mettől?</th>
        <th>Meddig?</th>
        <th>Fizetendő összeg</th>
        <th>státusz</th>
      </tr>
      <tr *ngFor="let rent of rents">
        <ng-container *ngIf="rent.status == 'canceled' || rent.status == 'done'">
          <td>{{ rent.place_name }}</td>
          <td>{{ rent.StartDate | date: 'yyyy-MM-dd' }}</td>
          <td>{{ rent.StartDate | date: 'HH:mm' }}</td>
          <td>{{ rent.EndDate | date: 'HH:mm' }}</td>
          <td>{{ rent.TotalAmount }}</td>
          <td>{{rent.status}}</td>
        </ng-container>
      </tr>
    </table>
  </div> -->

  <div class=" container table-responsive">
    <h2>Foglalásaim</h2>
    <table>
      <thead>
        <tr>
          <th>Terem</th>
          <th>Dátum</th>
          <th>Mettől?</th>
          <th>Meddig?</th>
          <th>Fizetendő összeg</th>
          <th>Státusz</th>
          <th>Lemondás</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rent of rents">
          <ng-container *ngIf="rent.status != 'canceled'">
            <td data-label="Terem">{{ rent.place_name }}</td>
            <td data-label="Dátum">{{ rent.StartDate | date: 'yyyy-MM-dd' }}</td>
            <td data-label="Mettől?">{{ rent.StartDate | date: 'HH:mm' }}</td>
            <td data-label="Meddig?">{{ rent.EndDate | date: 'HH:mm' }}</td>
            <td class="fw-bold" data-label="Fizetendő összeg">{{ rent.TotalAmount + " Ft" }}</td>
            <td data-label="Státusz" [class.done]="rent.status == 'done'" [class.pending]="rent.status == 'pending'">
              {{ rent.status }}
            </td>
            <td data-label="Lemondás">
              <button class="cancel-btn" (click)="cancelRent(rent)" *ngIf="isCancelable(rent)">Lemondás</button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>