/* table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

.container {
  height: 100vh;
} */

.container {
  height: 100vh;
 }


.responsive-table {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2{
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #353A47;
  color: white;
  text-transform: uppercase;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cancel-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: 1px red solid;
  transition: 0.3s;
  
}

.cancel-btn:hover {
  background: white;
  color: red;
  
  
   
  
}


@media screen and (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  h2 {
    font-weight: bold;
  }

  thead {
    display: none;
  }

  tbody tr {
    background: white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
  }

  /* Státuszok színei */
  .done {
    color: green;
    font-weight: bold;
  }

  .pending {
    color: orange;
    font-weight: bold;
  }

  
  .cancel-btn {
    background: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    border: 1px red solid;
  }
}