 a {
    text-decoration: none;
    color: darkgray;
}
a:hover {
    color: black;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
 
  .block {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  

  .input-search {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
 
  .header {
    height: 100vh;
    display: flex;
    background-image: url("../../assets/borito.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-elements {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
    border-radius: 10px;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
    border-radius: 10px;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.masok {
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 10px;
  width: 60%;
}

.sajat {
  background-color: rgba(2, 117, 216, 0.5);
  border-radius: 10px;
  width: 60%;
  margin-left: 40%;
}

.owner {
  color: rgb(2, 117, 216);
  font-weight: italic;
}

  @media (max-width: 1530px) {
    .block:nth-child(6),
    .block:nth-child(7) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    
    .block:nth-child(5),
    .block:nth-child(6),
    .block:nth-child(7) {
      display: none;
    }
  }
  
  @media (max-width: 1000px) {
    .block:nth-child(4),
    .block:nth-child(5),
    .block:nth-child(6),
    .block:nth-child(7) {
      display: none;
    }
  }
  
  @media (max-width: 800px) {
    .block:nth-child(3),
    .block:nth-child(4),
    .block:nth-child(5),
    .block:nth-child(6),
    .block:nth-child(7) {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .block {
      display: none;
    }
  }
  
