<div class="card" style="width: 18rem;">
    
    <div class="card-body">
        <h5 class="card-title">Register</h5>

        <div class="form-floating mb-3">
            <input [(ngModel)]="first_name" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">First name</label>
        </div>

        <div class="form-floating mb-3">
            <input [(ngModel)]="last_name" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Last name</label>
        </div>

        <div class="form-floating mb-3">
            <select [(ngModel)]="gender" class="form-control">
                <option>férfi</option>
                <option>nő</option>
                <option>nem nyilatkozom</option>
            </select>
            <label for="floatingInput">Gender</label>
        </div>

        <div class="form-floating mb-3">
            <input [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
      
        <div class="form-floating mb-3">
            <input [(ngModel)]="address" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">address</label>
        </div>
      
        <div class="form-floating mb-3">
            <input [(ngModel)]="phone_number" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">phone number</label>
        </div>
      
        <div class="form-floating">
            <input [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

      <button (click)="Register()" type="button" class=" my-3 btn btn-primary">Register</button>
    </div>
  </div>